{% extends 'detector/base.html' %}

{% block title %}Home - Fraud Detector{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Fraud Detector</h1>
            <p class="lead">Protect your transactions with advanced fraud detection</p>
            <hr class="my-4">
            <p>Use our dashboard to analyze transactions and detect potential fraud.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'dashboard' %}" role="button">Go to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
